/*三栏布局，中间宽度自适应，父容器高度为子容器高度最大值*/
.container{
    margin:20px;
    padding: 20px;
    background-color: #eee;
    border:1px solid #999;
}
.clearfix {
    overflow: auto;
    zoom: 1;
}
.left{
    width:158px;
    background-color: #ffffff;
    float: left;
    margin-left:-100%;
    border: 1px solid #999;
    padding:20px;
}
.right{
    width:118px;
    background-color:#ffffff;
    float: left;
    margin-left: -121px;
    border: 1px solid #999;
}
.main{
    float: left;
    width: 100%;        /* 使其具有块级元素换行特性*/
}
.inner{
    background-color: #ffffff;
    margin:0 140px 0 220px;
    border: 1px solid #999;
}

/*left content*/
ul{
    list-style-type: none;
    padding:0;
}
ul li{
    height:30px;
    line-height: 30px;

    margin-bottom: 20px;
}
ul li a{
    display: inline-block;
    width:100%;
    text-decoration: none;
    border:1px solid #ff0000;
    border-radius: 10px;
    text-align: center;
}
ul li a:hover{
    background-color: #ff0000;
}

/*main content*/
img{
    display: block;
    width:400px;
    height:300px;
}
